XIdle*timeout: 300

! ===== xlock
! actually turn the backlight off
XLock.dpmsoff     : 1
! plain white-on-black lock screen
XLock.description : off
XLock.echokeys    : off
XLock.info        :
XLock.background  : black
XLock.foreground  : white
XLock.mode        : blank
XLock.username    : username: 
XLock.password    : password: 
!XLock.font        : -misc-fixed-medium-r-normal-*-15-*-*-*-*-*-iso10646-1
!XLock.planfont    : -misc-fixed-medium-r-normal-*-13-*-*-*-*-*-iso10646-1

! ===== xclock
! digital clock in lower right-hand corner
XClock*analog      : false
XClock*twentyfour  : true
XClock*padding     : 0
XClock*geometry    : -2-2
XClock*render      : false
!XClock*font        : -misc-fixed-bold-r-normal-*-13-*-*-*-*-*-iso10646-1
XClock*height      : 12
XClock*background  : darkslateblue
XClock*foreground  : white
XClock*borderWidth : 0


XTerm*loginShell: true
URxvt*loginShell: true
URxvt.scrollBar: fase

*background: #1b1b1b
*foreground: #bbbbbb

!black
*color0: #1b1b1b
*color8: #5e5e5e

!white
*color7: #bbbbbb
*color15: #efefef

!red
*color1: #eb4509
*color9: #eb4509

!green
*color2: #94e76b
*color10: #94e76b

!blue
*color4: #46aede
*color12: #46aede

!yellow
*color3: #ffac18
*color11: #ffac18

!magenta
*color5: #e32c57
*color13: #e32c57

!cyan
*color6: #d6dbac
*color14: #d6dbac


