XIdle*timeout: 300

! ===== xlock
! actually turn the backlight off
XLock.dpmsoff     : 1
! plain white-on-black lock screen
XLock.description : off
XLock.echokeys    : off
XLock.info        :
XLock.background  : black
XLock.foreground  : white
XLock.mode        : blank
XLock.username    : username: 
XLock.password    : password: 
!XLock.font        : -misc-fixed-medium-r-normal-*-15-*-*-*-*-*-iso10646-1
!XLock.planfont    : -misc-fixed-medium-r-normal-*-13-*-*-*-*-*-iso10646-1

! ===== xclock
! digital clock in lower right-hand corner
XClock*analog      : false
XClock*twentyfour  : true
XClock*padding     : 0
XClock*geometry    : -2-2
XClock*render      : false
!XClock*font        : -misc-fixed-bold-r-normal-*-13-*-*-*-*-*-iso10646-1
XClock*height      : 12
XClock*background  : darkslateblue
XClock*foreground  : white
XClock*borderWidth : 0


XTerm*loginShell: true
URxvt*loginShell: true
URxvt.scrollBar: fase


! special
*.foreground:   #bbbbbb
*.background:   #050505
*.cursorColor:  #bbbbbb

! black
*.color0:       #050505
*.color8:       #5e5e5e

! red
*.color1:       #ff1b1b
*.color9:       #ff1b1b

! green
*.color2:       #910000
*.color10:      #910000

! yellow
*.color3:       #e34234
*.color11:      #e34234

! blue
*.color4:       #ff0000
*.color12:      #ff0000

! magenta
*.color5:       #e32c57
*.color13:      #e32c57

! cyan
*.color6:       #5e5e5e
*.color14:      #5e5e5e

! white
*.color7:       #bbbbbb
*.color15:      #bbbbbb
